<div class="container mt-3">
  <h2>Welcome to <%= @restaurant.name %>!</h2>
  <div class="card m-3 p-3 w-25">
    <p>📌 <%= @restaurant.address %></p>
    <p>📞 <%= @restaurant.phone_number %></p>
    <p>🍽️ <%= @restaurant.category.capitalize %></p>
  </div>

  <div class="card m-3 p-3 w-50">
    <h4 class="mt-3">Reviews:</h4>
    <% if @restaurant.reviews.any? %>
      <% @restaurant.reviews.each do |review| %>
      <div class="d-flex justify-content-between mt-3 hr">
        <div><%= review.content %></div>
        <div><%= "⭐" * review.rating %></div>
      </div>
      <% end %>
      <% else %>
        <p><%= "There's no review for this restaurant yet." %></p>
      <% end %>
  </div>

  <p>
    <%= link_to '📝 Write a new review', new_restaurant_review_path(@restaurant.id), class: 'mb-4 mt-4 p-4 text-decoration-none' %>
  </p>
  <p>
    <%= link_to '⬅️ Go back to all restaurants', restaurants_path, class: 'mb-4 mt-4 p-4 text-decoration-none' %>
  </p>

</div>
